{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "react/no-unescaped-entities": 0,
    "semi": "error"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
