.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  .MuiGrid-spacing-xs-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.Navbar__container {
  margin: 0 auto;

  svg {
    color: #fff;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
